<h1> <%= @flat.name %> </h1>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @flat_coordinates %>;
      alert('Flat coordinates are ' + coord.latitude + ', ' + coord.longitude);
    });
  <% end %>
<% end %>
